<div>
	<h2>Productos <small>Altas, bajas, modificaciones y publicacion de productos</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container" >

			<table ng-repeat="product in products">
				<tr>
					<td>{{product.nombre}} - </td>   
					<td>{{product.codigo}} - </td>
					<td>{{product.stock}} - </td>
					<td>{{product.precio}} - </td>
					<td>{{product.descripcion}} | </td>
					<td><a href="" ng-click="edit(product.id)">Modificar | </a></td>
					<td><a href="" ng-click="publish(product.id)">Publicar</a></td>
					<td><a href="" ng-click="delete(product)">Borrar</a></td>
				</tr>
			</table>
		</div>
	</div>
	<a ui-sref="products/addProducts" class="btn btn-primary btn-outline">Nuevo</a>
</div>