<div>
	<h2>Modificar Producto</h2>
	<span class="glyphicon glyphicon-pencil bg-fade"></span>
		<div class="jumbotron" style="background-color:#3CA2E0">
		<div class="container">
			<form role="form" ng-submit="submit(product)">

				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" ng-model="product.nombre" placeholder="Nombre del Producto">
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" ng-model="product.codigo" placeholder="Codigo del Producto">
					</div>
					
					<div class="form-group">
						<input type="number" class="form-control input-underline input-lg" ng-model="product.precio" placeholder="Precio" step="0.01">
					</div>


					<div class="form-group">
						<input type="number" class="form-control input-underline input-lg" ng-model="product.stock" placeholder="Stock">
					</div>

					<div class="form-group">
						<textarea  rows="10" class="form-control input-underline input-lg" ng-model="product.descripcion" placeholder="Descripción del Producto"></textarea>
					</div>

				</div>

				<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Guardar</button>

			</form>
	
	</div>
	</div>
</div>