<div>{{coco}}
	<h2>Publicar Producto {{productId}}</h2>
	<span class="glyphicon glyphicon-pencil bg-fade"></span>
	<div class="jumbotron" style="background-color:#3CA2E0">
		<div class="container">
			<fieldset>
				<legend>Red Social?</legend>
				<input type="checkbox" name="animal" value="Cat" />TWITTER <br />
				<input type="checkbox" name="animal" value="Dog" />FACEBOOK<br />
				<input type="checkbox" name="animal" value="Bird" />MERCADOLIBRE<br />

			</fieldset>

		</div>
	</div>

		<div class="jumbotron" style="background-color:#3CA2E0" >
		<div class="container">
		<fieldset>
				<legend>Payment Method?</legend>
				<input type="checkbox" name="animal" value="Cat" />TODOPAGO<br />
				<input type="checkbox" name="animal" value="Dog" />MERCADOPAGO<br />
				<input type="checkbox" name="animal" value="Bird" />Cash on delivery<br />
			</fieldset>
		</div>
	</div>
		<div class="jumbotron" style="background-color:#3CA2E0" >
		<div class="container">
		<fieldset>
				<legend>Shipping Mtthod?</legend>
				<input type="checkbox" name="animal" value="Cat" />OCA<br />
				<input type="checkbox" name="animal" value="Dog" />Andreani<br />
			</fieldset>
		</div>
	</div>
	<a ng-click="submit()" class="btn btn-primary btn-lg btn-outline btn-rounded">Publicar</a>

</div>